body {
background: #F7F6F2;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    font-weight: 600
}

.primary-color  {
    color: #C74451;
}

span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: black;
        
}

.nav-pills{
    background-color: black;   
    margin-top: 15px;
    border-radius: 5px; 
}

.nav-pills a {
    color: white;  
}



.nav-pills li a:hover {
    background: #C74451 ;
}

.nav-pills li.active a{ 
    background:#C74451 
}

.nav-pills li.active a:hover{ 
    background:#C74451 
}

main {
    font-family: 'Trebuchet MS',             Trebuchet, 'Lucida Sans Unicode',         'Lucida Grande', 'Lucida Sans',           Arial, sans-serif;
    
    background-color: #F7F6F2;
    
}

section {
    background: white;
    margin-top: 25px;
    border-radius: 8px;
    
    
}

.featured-img  {
    
    display: inline-block;
    margin-top: 25px;
    margin-left: 30px;
    border-width: medium;
    border-color: #F7F6F2;
    border-style: solid;
}

.pad-para {
    margin-bottom: 20px;
}

.data {
  
    padding-top: 20px;
}

.secondary-articles{
    padding-top: 15px;
    padding-bottom: 10px;
}

.secondary-articles h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.add-border {
   padding-bottom: 1px;
   padding-top: 1px;
   border-bottom-style: inset;
   border-top-style: solid;
   border-bottom-width: 1px;   
   border-top-width: 1px;
   border-top-color: #ffffff;
   border-bottom-color:  #F4E3E3;
}

.no-border {
    padding-bottom: 30px;
}


.sec-section  {
    padding: 0 10px;
}







